
$color1 : #1B3C59;
$color2 : #F47637;
$color3 : #61CE4E;
$color4 : #E8EBF1;
$color5 : white;

@mixin flexHeader {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexRow {

  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceAround {

  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexStart {
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
