
$color1 : #1B3C59;
$color2 : #F47637;
$color3 : #61CE4E;
$color4 : #E8EBF1;
$color5 : white;

$ventipx : 20px;
$trentapx : 30px;
$cinquantapx : 50px;
$settantacinquepx : 75px;
$none : none;

@mixin flexHeader {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexRow {

  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flexSpaceAround {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexStart {

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
