
$color1 : #1B3C59;
$color2 : #F47637;
$color3 : #61CE4E;
$color4 : #E8EBF1;
$color5 : white;

$ventipx : 20px;
$trentapx : 30px;
$cinquantapx : 50px;
$settantacinquepx : 75px;
$none : none;

$aula_img_height_smartphone : 500px;
$aula_img_width_smartphone : 600px;
$master_img_height_smartphone : 200px;
$master_img_width_smartphone : 400px;
$aula_img_height_tablet : 500px;
$aula_img_width_tablet : 600px;
$master_img_height_tablet : 200px;
$master_img_width_tablet : 600px;

@mixin flexHeader {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexRow {

  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

@mixin flexSpaceAround {

  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexStart {

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
