div.content {

   div.sviluppatore {

       @include flexRow;

       background: $color1;
       color: $color5;
       padding: $cinquantapx;

       .sviluppatore-container {

          @include flexColumn;
       }
   }

  div.master {

     div.master-container {

        display: flex;
        padding: 100px;

        div.master-left {

           padding: 0 $ventipx $ventipx $ventipx;

           h2 {

             color: $color3;
           }

           p {

             color: $color1;
           }

        input {

           width: 150px;
           height: $cinquantapx;
           background: $color2;
           border: none;
           color: $color5;
        }
      }

        div.master-right {

           img {

              min-width: 650px;
              min-height: 390px;
           }
        }
     }
  }

  div.vera {

     @include flexRow;
     background: $color4;
     padding: $settantacinquepx;
     color: $color1;

     div.vera-container {

        @include flexColumn;
     }
  }

  div.aula {

     @include flexRow;
     padding: 100px;

     div.aula-container {

        @include flexStart;
        padding: $settantacinquepx;

        div.aula-left {

           @include flexColumn;
           padding-right: $cinquantapx;
           color:$color1;

           h2,  {

             margin-bottom: $trentapx;
           }

           p {

             margin-bottom: $trentapx;
           }

           ul {

             margin-bottom: $trentapx;
           }
        }

        div.aula-right {

            img {

                height: 500px;
                width:500px;
            }
        }
    }
  }
}
