div.footer {

  background: $color1;
  @include flexRow;

  .footer-container {

    min-width: 85%;
    min-height: 85%;
    @include flexHeader;

      .footer-left {

        min-height: 100%;
        @include flexColumn;

         span {

          @include flexColumn;
          color: $color5;
          text-decoration: $none;
          margin: 10px;

          a {

            color: $color5;
            text-decoration: $none;
          }
        }
      }

      .footer-right {

        @include flexSpaceAround;

        span {
          margin: 10px;
          color: $color5;

          i {
            font-size: 30px;
          }
        }
      }
    }
  }
