div.footer {

  background: $color1;
  @include flexRow;

  .footer-container {

    width: 85%;
    height: 85%;
    @include flexHeader;

      .footer-left {

        height: 100%;
        @include flexColumn;

         span {

          @include flexColumn;
          color: $color5;
          text-decoration: none;
          margin: 10px;

          a {

            color: $color5;
            text-decoration: none;
          }
        }
      }

      .footer-right {

        @include flexSpaceAround;

        span {
          margin: 10px;
          color: $color5;
        }
      }
    }
  }
