div.header {

    height: 80px;
    @include flexHeader;
    color: $color1;
    padding-bottom: $trentapx;
    position: relative;

    .header-left {

        width: 100%;
        height: 100%;
        margin-top: $ventipx;
        margin-left: $ventipx;

        img{

            width: 200px;
            height: 60px;
        }
    }

    .header-rigth{

        margin-right: $ventipx;
        text-transform: uppercase;
        position: relative;

        .navbar ul {

            @include flexRow;

            li {

                padding: $ventipx;
                margin: 10px;

                &:hover {

                    color: $color2;
                    border-bottom: 1px solid $color3;
                }
            }

            #orange {

              padding: $ventipx;
              background: $color2;
              color: $color5;

              &:hover {

                  color: $color1;
                  border: $none;
             }
        }

        #corso {

          margin-right: 0;
          padding: $ventipx  0;
          width: 120px;
        }
      }
    }
}
