@media all and (max-width:768px) {

  div.header {

    div.header-rigth {
      display: none;
    }

    div.hamburger-menu {

      i.fa-bars {

        display: block;
      }

    }
  }

  div.content {

  div.master {

    div.master-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
}
