@media all and (min-width: 768px) and (max-width: 1100px) {

  div.header-rigth {

    display: $none;
    }

  div.hamburger-menù {

      i.fa-bars {
        font-size: $trentapx;
        display: block;
      }
    }
}
